<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="btpOutFileName" value="btp_in.csv" />
    <add key="btpOutFileNameLog" value="btp_in.log" />
    <add key="csvSeparator" value="|" />
    <add key="btpHeaderm" value="Level|Item Number|Parent|Drawing Number|Engineering Part Number|MMR#(SAP Material Number)|Quantity|Unit of Measure|Part Name/Title|Part Name Local|Manufacturer|Manuf City|Manuf State|Manuf Country|Manuf Internet Address|Specification|Spare Part Code|Presentation|Part Type|FLN|Size Change|Has Electrical Connections|ID Tag|Classified In|Remark" />
    <add key="btpHeadermRow" value="1" />
    <add key="btpHeadermSheet" value="Sheet1" />
    <add key="btpHeadere" value="Item|Installation|Location|Device ID|Manufacturer Part Number|Order Number|Quantity (pieces / meters)|Default Qty.|Total Qty.|Description|Manufacturer|MMR No.|Spare Part Recommendation|PGUC|Partnumber|Function Text|Restricted Use" />
    <add key="btpHeadereRow" value="8" />
    <add key="btpHeadereSheet" value="Parts List" />
    <add key="btpHeaderoralbm" value="Structure Level|Line Number|Number|Tool / Equipment Name English|Part ID|Version|Quantity|Source|Vendor|Order Number|Order Text|Name" />
    <add key="btpHeaderoralbmRow" value="1" />
    <add key="btpHeaderoralbmSheet" value="Default" />
    <add key="btpHeadergen" value="Structure Level|Line Number|Number|Tool / Equipment Name English|Part ID|Version|Quantity|Source|Vendor|Order Number|Order Text|Name" />
    <add key="btpHeadergenRow" value="1" />
    <add key="btpHeadergenSheet" value="Default" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>